.modalBody {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 30px;
  z-index: 101;

  .modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {

      button {
        margin-right: 10px;
      }
    }

    i {
      cursor: pointer;
    }
  }

  .modalMain {
    padding: 50px;
  }
}

