<div id="login-register" class="modal" *ngIf="show">
  <div (click)="hide()" class="modalFondo"></div>
  <section class="modalBody">
    <section class="modalHeader">
      <div>
        <button (click)="changeToLogin()">Iniciar sesión</button>
        <button (click)="changeToRegister()">Registrarse</button>
      </div>
      <i class="fa-solid fa-x" (click)="hide()"></i>
    </section>
    <section class="modalMain" *ngIf="login">
      <input type="text" placeholder="Correo">
      <input type="text" placeholder="Contraseña">
    </section>
    <section class="modalMain" *ngIf="register">
      <input type="text" placeholder="Correo">
      <input type="text" placeholder="Contraseña">
      <input type="text" placeholder="Repetir contraseña">
    </section>

  </section>
</div>
