<footer>

    <div class="container">
        <ul class="links-zone">
            <li class="col-12 col-md-auto list-inline-item pe-3"><a class="text-light" href="#">Términos y condiciones</a></li>
            <li class="col-12 col-md-auto list-inline-item pe-3"><a class="text-light" href="#">Política de privacidad</a></li>
            <li class="col-12 col-md-auto list-inline-item pe-3"><a class="text-light" href="#">Política de cookies</a></li>
            <li class="col-12 col-md-auto list-inline-item pe-3"><a class="text-light"  href="#">Notificaciones de privacidad</a></li>
            <li class="col-12 col-md-auto list-inline-item pe-3"><a class="text-light" href="#">Cookie settings</a></li>
        </ul>
        <div class="logo-zone">
            <img src="assets/Logotipo2.png" style="width: 50px;">
            <p>Copyright © 2019-2022 Grupo Prograo S.L. Todos los derechos reservados</p>
        </div>
    </div>

</footer>
