@mixin h1 {
  font-family: $font-family-titulo;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

@mixin boton($color, $color_hover, $color_letra) {
  background-color: $color;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: $color_letra;

  &:hover {
    background-color: $color_hover;
  }
}
