/* COLORES */
$primario: #FF7F40;
$primario_hover: #f1702f;
$secundario: #08232C;
$secundario_hover: #0c2831;
$info: #FAF3DB;

/* TAMAÑOS */
$max_width: 1400px;

/* FUENTES */
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-titulo: "Merriweather"
