footer {

    background-color: black;
    padding: 25px 0px;

    .links-zone {

        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        border-bottom: 1px solid white;
        padding-bottom: 25px;

        a {
            color: white;
            padding-right: 40px;
        }

    }

    .logo-zone {

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        color: white;
        padding-top: 25px;

    }
}