<section id="fondoGradiente">

    <div class="letrasInicio">
        <p class="position-absolute h1 ">Java</p>
        <p class="position-absolute h3">Spring</p>
        <p class="position-absolute h2">Thymeleaf</p>
        <p class="position-absolute h1">Git</p>
        <img class="position-absolute"src="./assets/oveja.png">
        <p class="position-absolute">CREATE&nbspDATABASE&nbsptienda&nbspCHARACTER&nbspSET&nbsputf8mb4;</p>
        <p class="position-absolute">link rel="stylesheet" href="./css/styles.css"</p>
    </div>

    <section class="container">
        <h1>ENCUENTRE SU PROGRAMADOR FREELANCER IDEAL</h1>
        <div>
            <form>
                <input type="text" placeholder="Ej: Java, Desarrollo Web, Madrid">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <p>o</p>
            <input class="boton_secundario" type="button" value="Crear un proyecto">
        </div>
    </section>

</section>

