<div class="container">
    <h1>¿Qué es Prograo?</h1>
    <section>

        <article>
            <div>
                <i class="pe-1 h4 d-inline fa-solid fa-bolt"></i>
                <h3>Eficaz</h3>
            </div>
            <p>Prograo es una herramienta web para poder contratar programadores freelancers rápidamente</p>
        </article>

        <article>
            <div>
                <i class="pe-1 h4 d-inline fa-solid fa-bullseye"></i>
                <h3>Precisa</h3>
            </div>
            <p>La página ofrece diversas herramientas para que, sin que importe el nivel que tiene de informática, pueda encontrar a un freelancer ideal para su problema</p>
          </article>

        <article>
            <div>
                <i class="pe-1 h4 d-inline fa-solid fa-lock"></i>
                <h3>Segura</h3>
            </div>
            <p>Diversas medidas hacen que las interacciones entre los usuarios y los freelancers sean 100% segura, consiguiendo que los archivos y las transacciones no puedan ser filtradas ni trucadas</p>
          </article>

    </section>
</div>
