<section id="searchBar">
    <div class="container">
        <section class="bar">
            <form>
                <input type="text" placeholder="Ej: Java, Desarrollo Web, Madrid">
                <button type="submit" [routerLink]="['/listado']">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <p>/</p>
            <div>
                <input class="button-primary" type="button" value="Crear un proyecto">
                <input class="button-primary" type="button" value="Proyectos predefinidos">
            </div>
            
        </section>
    </div>
</section>
