@charset "UTF-8";
/* COLORES */
/* TAMAÑOS */
/* FUENTES */
#fondoGradiente {
  height: 550px;
  background: linear-gradient(-45deg, #FF7F40, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#fondoGradiente .letrasInicio {
  overflow: hidden;
}
#fondoGradiente .letrasInicio p, #fondoGradiente .letrasInicio img {
  position: absolute;
  -webkit-animation-name: derecha;
          animation-name: derecha;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
#fondoGradiente .letrasInicio p:nth-child(1) {
  -webkit-animation: animacionJava 9s linear 0s infinite normal;
          animation: animacionJava 9s linear 0s infinite normal;
}
#fondoGradiente .letrasInicio p:nth-child(2) {
  -webkit-animation: animacionSpring 30s linear 0s infinite normal;
          animation: animacionSpring 30s linear 0s infinite normal;
}
#fondoGradiente .letrasInicio p:nth-child(3) {
  -webkit-animation: animacionThymeleaf 19s linear 0s infinite normal;
          animation: animacionThymeleaf 19s linear 0s infinite normal;
}
#fondoGradiente .letrasInicio p:nth-child(4) {
  -webkit-animation: animacionGit 15s linear 0s infinite normal;
          animation: animacionGit 15s linear 0s infinite normal;
}
#fondoGradiente .letrasInicio img:nth-child(5) {
  -webkit-animation: animacionOveja 50s linear 0s infinite alternate;
          animation: animacionOveja 50s linear 0s infinite alternate;
}
#fondoGradiente .letrasInicio p:nth-child(6) {
  -webkit-animation: animacionSQL 15s linear 0s infinite normal;
          animation: animacionSQL 15s linear 0s infinite normal;
}
#fondoGradiente .letrasInicio p:nth-child(7) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation: animacionLink 30s linear 0s infinite normal;
          animation: animacionLink 30s linear 0s infinite normal;
}
@-webkit-keyframes animacionJava {
  0% {
    top: 33%;
    left: 0%;
  }
  100% {
    top: 33%;
    left: 280%;
  }
}
@keyframes animacionJava {
  0% {
    top: 33%;
    left: 0%;
  }
  100% {
    top: 33%;
    left: 280%;
  }
}
@-webkit-keyframes animacionSpring {
  0% {
    top: 12%;
    left: 0%;
  }
  100% {
    top: 12%;
    left: 123%;
  }
}
@keyframes animacionSpring {
  0% {
    top: 12%;
    left: 0%;
  }
  100% {
    top: 12%;
    left: 123%;
  }
}
@-webkit-keyframes animacionThymeleaf {
  0% {
    top: -30%;
    left: 71%;
  }
  100% {
    top: 120%;
    left: 71%;
  }
}
@keyframes animacionThymeleaf {
  0% {
    top: -30%;
    left: 71%;
  }
  100% {
    top: 120%;
    left: 71%;
  }
}
@-webkit-keyframes animacionGit {
  0% {
    top: 22%;
    left: 123%;
  }
  100% {
    top: 22%;
    left: -5%;
  }
}
@keyframes animacionGit {
  0% {
    top: 22%;
    left: 123%;
  }
  100% {
    top: 22%;
    left: -5%;
  }
}
@-webkit-keyframes animacionOveja {
  0% {
    top: 83%;
    left: -50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 83%;
    left: 300%;
    -webkit-transform: rotate(3600deg);
            transform: rotate(3600deg);
  }
}
@keyframes animacionOveja {
  0% {
    top: 83%;
    left: -50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 83%;
    left: 300%;
    -webkit-transform: rotate(3600deg);
            transform: rotate(3600deg);
  }
}
@-webkit-keyframes animacionSQL {
  0% {
    top: 74%;
    left: -11%;
  }
  100% {
    top: 74%;
    left: 450%;
  }
}
@keyframes animacionSQL {
  0% {
    top: 74%;
    left: -11%;
  }
  100% {
    top: 74%;
    left: 450%;
  }
}
@-webkit-keyframes animacionLink {
  0% {
    top: 248%;
    left: 8%;
  }
  100% {
    top: -200%;
    left: 8%;
  }
}
@keyframes animacionLink {
  0% {
    top: 248%;
    left: 8%;
  }
  100% {
    top: -200%;
    left: 8%;
  }
}
#fondoGradiente section {
  padding: 2em;
  background: rgba(255, 255, 255, 0.5);
  z-index: 5;
  border-radius: 50px;
  width: 100%;
}
#fondoGradiente section h1 {
  font-family: "Merriweather";
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}
#fondoGradiente section div {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}
#fondoGradiente section div form {
  grid-row: 1;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}
#fondoGradiente section div form input {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: none;
  border: none;
  outline: none;
}
#fondoGradiente section div form button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
}
#fondoGradiente section div form button:hover {
  background-color: gainsboro;
}
#fondoGradiente section div p {
  grid-row: 2;
  grid-column: 2;
  margin: 0 auto;
  font-size: 24px;
}
#fondoGradiente section div > input {
  grid-row: 3;
  grid-column: 2;
  width: 50%;
  margin: 0 auto;
}/*# sourceMappingURL=index.component.css.map */