<div class="container">
    <h1>¿Qué es Prograo?</h1>
    <section>

        <article class="col-12 col-md-3 mb-4 mb-md-0">
            <div class="d-flex align-items-center justify-content-center">
                <i class="pe-1 h4 d-inline fa-solid fa-bolt text-secondary"></i>
                <div class="d-inline h3 text-primary">Eficaz</div>
            </div>
            <div class="fs-5 text-center">Prograo es una herramienta web para poder contratar programadores freelancers rápidamente</div>
        </article>

        <div class="col-12 col-md-3 mb-4 mb-md-0">
            <div class="d-flex align-items-center justify-content-center">
                <i class="pe-1 h4 d-inline fa-solid fa-bullseye text-secondary"></i>
                <div class="d-inline h3 text-primary">Precisa</div>
            </div>
            <div class="fs-5 text-center">La página ofrece diversas herramientas para que, sin que importe el nivel que tiene de informática, pueda encontrar a un freelancer ideal para su problema</div>
        </div>

        <div class="col-12 col-md-3 md-4 md-md-0">
            <div class="d-flex align-items-center justify-content-center">
                <i class="pe-1 h4 d-inline fa-solid fa-lock text-secondary"></i>
                <div class="d-inline h3 text-primary">Segura</div>
            </div>
            <div class="fs-5 text-center">Diversas medidas hacen que las interacciones entre los usuarios y los freelancers sean 100% segura, consiguiendo que los archivos y las transacciones no puedan ser filtradas ni trucadas</div>
        </div>

    </section>
</div>