<section id="filters">
    <form>

        <h3>Precio por hora</h3>
        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                0 - 15 €
            </label>
        </div>
        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                16 - 30 €
            </label>
        </div>
        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                31 - 50 €
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                51 - 100 €
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                + 100 €
            </label>
        </div>

        <div class="personalized">
            <input class="col-4 h-25 fs-7 py-1 me-1" type="text" placeholder="MIN">
            <input class="col-4 h-25 fs-7 py-1" type="text" placeholder="MAX">
            <button class="col-2 hover-zoom btn btn-light m-0 ms-1 p-0 border border-dark rounded" type="submit">
                <i class="fs-7 fa-solid fa-arrow-right m-0"></i>
            </button>
        </div>

        <h3>Experiencia</h3>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                0 - 10 proyectos
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                11 - 25 proyectos
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                26 - 50 proyectos
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                51 - 100 proyectos
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                + 100 proyectos
            </label>
        </div>

        <div class="personalized">
            <input class="col-4 h-25 fs-7 py-1 me-1" type="text" placeholder="MIN">
            <input class="col-4 h-25 fs-7 py-1" type="text" placeholder="MAX">
            <button class="col-2 hover-zoom btn btn-light m-0 ms-1 p-0 border border-dark rounded" type="submit">
                <i class="fs-7 fa-solid fa-arrow-right m-0"></i>
            </button>
        </div>

        <h3>Idiomas</h3>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Español
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Inglés
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Catalán
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Francés
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Alemán
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                Portugués
            </label>
        </div>

        <input class="more" type="button" value="Más idiomas(18)">

        <h3>Críticas</h3>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                0 - 10 comentarios
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                11 - 25 comentarios
            </label>
        </div>

        <div class="form-check ms-2 mb-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label fs-7" for="flexCheckDefault">
                + 25 comentarios
            </label>
        </div>

        <div class="personalized">
            <input class="col-4 h-25 fs-7 py-1 me-1" type="text" placeholder="MIN">
            <input class="col-4 h-25 fs-7 py-1" type="text" placeholder="MAX">
            <button class="col-2 hover-zoom btn btn-light m-0 ms-1 p-0 border border-dark rounded" type="submit">
                <i class="fs-7 fa-solid fa-arrow-right m-0"></i>
            </button>
        </div>
        
    </form>
</section>
