@import './sass/variables';
@import './sass/mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.no-hidden {
  display: block;
}

.container {
  padding: 0px 10px;

  @media (min-width: $max_width) {
    padding: 0;
    margin: 0 auto;
    max-width: $max_width;
  }
}

.modal {
  position: absolute;
  background-color: rgba($color: #afacac, $alpha: 0.6);
}

.boton_primario {
  background-color: $primario;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primario_hover;
  }
}

.boton_secundario {
  background-color: $secundario;
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $secundario_hover;
  }
}
