@import '../../../sass/mixins';
@import '../../../sass/variables';

.proposal-info {

  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: $font-family-title;
  }

  .date {
    font-size: 14px;
    color: rgb(88, 88, 88)
  }
}

.proposal-footer {
  margin-top: 10px;
}

