<section id="fondoGradiente">

    <div class="letrasInicio">
        <p>Java</p>
        <p>Spring</p>
        <p>Thymeleaf</p>
        <p>Git</p>
        <img src="./assets/oveja.png">
        <p>CREATE&nbspDATABASE&nbsptienda&nbspCHARACTER&nbspSET&nbsputf8mb4;</p>
        <p>link rel="stylesheet" href="./css/styles.css"</p>
    </div>

    <section class="container">
        <h1>ENCUENTRE SU PROGRAMADOR FREELANCER IDEAL</h1>
        <div>
            <form routerLink="listado">
                <input type="text" placeholder="Ej: Java, Desarrollo Web, Madrid">
                <button type="submit" [routerLink]="['/freelancer-list/all']">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <p>o</p>
            <input class="boton_secundario" type="button" value="Crear un proyecto">
        </div>
    </section>

</section>

